# 0. Hello, Python! (Basic Data Types)
## 0. Hello, Python! (Basic Data Types)
###### 0. Hello, Python! (Basic Data Types)

This is a Python refresher notebook. It covers the basic data types in Python.

In [4]:
# --- Numeric Types ---
# Integer
num = 3
print(f"integer:{num}")

integer:3

In [38]:
# --- Numeric Types ---
# Integer
a=2
print(a)

# Float


# Complex: (2+3j

2
new:[0, 2, 3, 4, 5, 6, 7, 8]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2860331064.py, line 16)

In [5]:



# --- String and Character ---
# String
name = "Aaron"

# Character (In Python, a single character is just a string of length 1)
char = "a"

In [7]:
"

# --- Boolean ---
# Boolean values
t = true #1

SyntaxError: unterminated string literal (detected at line 1) (2129424483.py, line 1)

In [ ]:
f = false #0

# --- Arrays (Lists) ---
array=[1,2,3,4,5,6,7,8]
array[0]=0
print(f"new:{array}")

In [39]:
print("new",array)

new [0, 2, 3, 4, 5, 6, 7, 8]

In [48]:
array=["dhaka","gazipur","khulna","tongi"]
array.append("rajshahi")
array.insert(0,"bangladesh")
print(array)

['bangladesh', 'dhaka', 'gazipur', 'khulna', 'tongi', 'rajshahi']

In [ ]:
      
# List
array = [1,2,3,4,5,6,7]
mixed_arr = ["a"]

In [1]:
 10 "school"]

# Accessing list elements
print(f"mixed arr first item:{mixed_arr[0]}")

# Adding to a list
mixed_arr.append([10, 5 , 2 ])

# --- Objects (using classes) ---
class food:
    def __init__(self,name):
         self.name=name
    
    def __init__(self,name='apple',color='red',size=0,price=0):
        self.name=name
        self.color=color
        self.price=price
        self.quantity=1

    def printinfo(self):
        if  self.name=='':
            print('I am nothing')  
        else:
            print("I am a",self.name)   
            print(f'I am a{self.name}.') 



    def greet(self):
        print(f"hello, i am {self.name} and my id is {self.id}.")   
# Create an object of the Person class
s1 = student(sudeb

SyntaxError: unmatched ']' (250476756.py, line 1)

In [ ]:
)

# --- Type Conversion ---
# Convert integer to float


# Convert float to integer (truncates the decimal part)


# Convert boolean to integer


# --- Type Checking ---

In [6]:
# --- Numeric Types ---
# Integer
a=3.4
b=4
print("value is ",a+b)

value is  7.4

In [11]:
#float
c=10.5
d="bangladesh"
print("all",c,d)

all 10.5 bangladesh

In [2]:
c="good"
d="bangladesh"
name=c+" "+d
print(name)
len(d)
d[1:4]
d.upper()
if "hi" in name:
    print("no")
else: print ("yes")

good bangladesh
yes

In [29]:
namenew=name.replace("good","green")
print(namenew)

green bangladesh

In [30]:
namenew= name.split(" ")
print(namenew)

['good', 'bangladesh']

In [28]:
name1="-" .join(namenew)
print(name1)

good-bangladesh

In [31]:
f1=food()
f2=food('banana')
f3=food('orange,orange')
f4=food('grape,size=3')
f5=food('pear',3)

NameError: name 'food' is not defined

In [22]:
f5.price

0

# 1. Hello, World! (First Program)

This is a simple introduction to Python syntax and the print() function.

In [ ]:
# Basic "Hello, World!" example

# 2. Basic Math Operations

Introduce variables and arithmetic operators.

In [ ]:
# Simple math operations


# Addition

# Subtraction

# Multiplication

# Division

# 3. Getting User Input

Demonstrates how to interact with the user via input().

In [2]:
# Getting user input and using it
name =input("what's your name ?>>>")
print("hello "+name+"!")
# Working with numbers

hello !

# 4. If Statements (Conditionals)

Introduce the concept of decision-making using if, else, and elif.

In [6]:
# Basic if-else example
number=int(input("enter a number:>>>"))
if number>0:
    print("you are positive")

    if number %2==0
    print("you are even")
     else:
    print("you are odd")  
    else:
    print("you are negative")

SyntaxError: expected ':' (2719060537.py, line 5)

In [ ]:
for x in range(10,100,20)

In [ ]:
#basic while loop ex
#for loo

# 5. For Loop (Iteration)

A basic introduction to loops with a for loop that repeats a certain number of times.

In [ ]:
# Basic for loop example

# 6. While Loop (Iteration with Condition)

Demonstrates a loop that runs until a condition is met.

In [ ]:
# Basic while loop example

# 7. Basic Function Example

Introducing how to write and call functions.

In [ ]:
# Function to greet the user

# 8. Simple Temperature Converter

Combines input, conditionals, and functions in a real-world example.

In [ ]:
# Function to convert Celsius to Fahrenheit


# Get temperature from user

# 9. Simple Guessing Game

A fun exercise that involves loops, conditionals, and randomness.

In [ ]:

# Generate a random number between 1 and 10


# Keep asking the user until they guess correctly

# 10. FizzBuzz (Classic Example)

A popular coding challenge that helps beginners practice conditionals and loops.

**Problem Statement:**

Print numbers from 1 to n, where n is a positive integer. For each number:

- Print "Fizz" if the number is divisible by 3.
- Print "Buzz" if the number is divisible by 5.
- Print "FizzBuzz" if the number is divisible by both 3 and 5.
- Print the number itself if it is not divisible by either 3 or 5.

In [ ]:
# FizzBuzz example

# Bonus: Recursive Fibonacci Function

A more advanced example that demonstrates recursion.

In [ ]:
def fibonacci(n):
    # Base cases

        # Recursive case: F(n) = F(n-1) + F(n-2)
        

# Example usage